<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="clearfix">
    <div class="input">
      <%= f.text_area :content, :class => 'text_area span6', :rows => 5 %>
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
<% end %>
